<launch>
  <!-- load robot_description -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find franka_description)/robots/panda_arm_hand.urdf.xacro" />

  <!-- gazebo setting -->
  <arg name="debug" default="false"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>

  <!--launch gazebo -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
	  <arg name="debug" value="$(arg debug)"/>
	  <arg name="gui" value="$(arg gui)"/>
	  <arg name="headless" value="$(arg headless)"/>
	  <arg name="paused" value="$(arg paused)"/>
	  <arg name="use_sim_time" value="$(arg use_sim_time)"/>
  </include>

  <!-- spawn robot -->
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model panda"/>

  <!-- load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find franka_control)/config/panda_gazebo_controllers.yaml" command="load"/>

  <!-- spawn the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="joint_state_controller arm_position_controller hand_position_controller" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" />


</launch>
